/*Blog stylesheet*/
/*Select everything*/
*{
	margin: 0;
	padding: 0;
}

body
{
	font-size:17px:
	font-family:Georgia, Times, serif;
	background:#f2f2f2;
}

h1, h2, h3 {
	font-family: Helvetica, Arial sans-serif;
}

#container{
	width:760px;
	margin:auto;
}

header{
	text-align:center;
	background:#fff;
	color:#1a71b8;
	padding:10px;
}

article{
	background:white;
	padding:20px;
	margin:20px 0;	
}
article p{
	margin: 10px 0 10px;
}

section.post-head small{
	display: block;
	margin 0 0 20px;
	padding 20px 0 20px;
	border-bottom:solid 1px #eee;
	border-top:solid 1px #eee;
	color:red;
	
}



section.post-foot{
	font-size:14px;
	border-top:solid 1px #eee;
	margin:20px 0 0 0;
	padding:20px 0 0 0;
}

footer{
	text-align:center;
	color:black;
	padding:10px;
	font-size:16px;
	
}

